* {
  box-sizing: border-box;
}

/* html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
} */

article {
  width: 550px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181818;
  border-radius: 20px;
  box-shadow: 10px 10px 10px #000;
  position: relative;
  border-right: 160px solid #f69311;
  border-left: 30px solid #f69311;
  z-index: 1;
}

div.left {
  position: absolute;
  left: 60px;
  top: 20px;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 0;
  margin-top: 30px;
}

h2 {
  font-size: 14px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 0;
}

li {
  list-style: none;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
  margin-top: 80px;
}

div.right {
  position: absolute;
  right: -100px;
  border: solid 8px #181818;
  border-radius: 20px;
  z-index: 1;
  background-color: #181818;
  border-top-width: 12px;
  border-right-width: 12px;
}

img.profile {
  border: solid 8px #f69311;
  border-radius: 20px;
}

img.icon {
  position: absolute;
  right: -150px;
  z-index: 2;
  cursor: pointer;
}

img.social-icon {
  margin-right: 10px;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://cdn.pixabay.com/animation/2023/03/19/02/34/02-34-11-741_512.gif");
  animation: sparkle 100s linear infinite;
}

@keyframes sparkle {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1000px 1000px; /* Adjust this value based on your preference */
  }
}

.sliding-box {
  width: 300px;
  height: 300px;
  background-color: #181818;
  transition: left 0.5s ease-in-out;
  position: relative;
  bottom: 300px;
  left: 250px;
  border-radius: 0 20px 20px 0;
  border: 10px solid #f69311;
  position: relative;
}

.show {
  left: 530px;
}

.moving-div {
  width: fit-content;
  background-color: coral;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
  position: absolute;
  box-shadow: 1px 1px 3px #000;
}

.moving-div.first {
  animation: moveX 2s linear 0s infinite alternate,
    moveY 3.4s linear 0s infinite alternate;
}

.moving-div.second {
  animation: moveX 2.5s linear 0.2s infinite alternate,
    moveY 3.8s linear 0.4s infinite alternate;
}

.moving-div.third {
  animation: moveX 1.5s linear 0.4s infinite alternate,
    moveY 3s linear 0.2s infinite alternate;
}

@keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 100px);
  }
}

@keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: calc(100% - 100px);
  }
}

div.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  div.card-wrapper {
    transform: scale(0.3);
    margin-left: -150px;
  }
}
